body, html {
  margin: 0;
  font-family: 'Noto Serif', serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

h1,h2,h3 {
  margin: 0;
}

header {
  height: 100px;
  width: 100%;
  background-color: #1D4348;
  text-align: center;
  font-size: 3em;
}

#skills {
  height: 500px;
  width: 100%;
  background-color: #1D4348;
  padding-top: 45px;
}

.skills-container {
  height: 75%;
  width: 85%;
  margin: 0 auto;
}

#skills article {
  width: 25%;
  height: 100%;
  background-color: #17C9E1;
  float: left;
  margin: 0 22px;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: justify;
}

#skills article h1 {
  text-align: center;
}
